.header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.banner-description {
    margin-top: 20px;
    font-size: 17px !important;
    padding-right: 2rem;
}

@media only screen and (max-width: 600px) {
    .banner-description {
        font-size: 16px !important;
        padding-right: 1rem;
    }
}
@media only screen and (max-width: 340px) {
    .banner-description {
        font-size: 16px !important;
        padding-right: 0rem;
    }
}

.axil-button {
    border-radius: 500px;
}

.button-text {
    border-radius: 500px;
}

a.axil-button.btn-transparent::before,
button.axil-button.btn-transparent::before {
    border-radius: 500px;
    border: none;
}

a.axil-button.btn-transparent::after,
button.axil-button.btn-transparent::after {
    border-radius: 500px;
    background: #774ef0;
    display: none;
}

.axil-slide.slide-style-default .content h1 {
    color: #201b3d;
}

.banner-name {
    color: #5138ee !important;
    margin-bottom: 10px !important;
    font-weight: 500;
}
.home-bg-section {
    background-color: #f8f7fc;
}

.axil-case-study {
    box-shadow: 37px 37px 84px 0 rgba(135, 140, 189, 0.13);
}

h3,
h4,
h5,
h6,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #0a071b;
}

h5 {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.03em;
}

.axil-case-study .content {
    color: #5b5675;
}

h2.title {
    color: #061237;
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px;
}
@media only screen and (max-width: 600px) {
    h2.title {
        font-size: 30px;
    }
}
.section-title h2.title {
    margin-bottom: 10px;
    margin-top: 10px;
}
p.subtitle-2 {
    text-align: center;
    font-size: 16px;
}

.section-title.text-left p {
    padding: 0 0 0 0;
}

.axil-slide.slide-style-default .content p {
    margin-bottom: 25px;
}
/* --creative-- */
.creative-icons {
    margin-top: 80px;
}
.brand-list li {
    -webkit-flex-basis: 22.5%;
    -ms-flex-preferred-size: 22.5%;
    flex-basis: 22.5%;
}

.brand-list li:nth-child(3) a {
    border-color: #eaeaf1;
}
.brand-list li:nth-child(4n) a {
    border-color: transparent;
}
.brand-list li a {
    display: block;
    border-right: 1px solid #eaeaf1;
    text-align: center;
    height: 200px;
    line-height: 200px;
}

@media only screen and (max-width: 600px) {
    .brand-list li {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .brand-list li a {
        border-right: none;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*xx creative xx */
.axil-service .inner::before {
    border: 4px solid #9047ff;
}

.axil-link-button,
.design-link {
    color: #5138ee !important;
}

/* ---header---------- */
.haeder-default.header-transparent {
    padding: 10px 0 10px;
    position: relative;
}

ul.mainmenu li a,
a.axil-button,
button.axil-button {
    font-weight: 500;
}

@media only screen and (max-width: 991px) {
    .haeder-default.header-transparent {
        padding: 15px 0;
    }
}

.haeder-default .logo a {
    height: 32px;
}
.haeder-default .logo a img {
    width: 100%;
    height: 100%;
}

ul.mainmenu li a {
    text-transform: capitalize;
    font-size: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .pt_md--60 {
        padding-top: 00px !important;
    }
}
/* ------------ */

a.axil-button.btn-transparent span.button-text,
button.axil-button.btn-transparent span.button-text {
    padding-right: 0px;
}

.my-bg {
    background-color: #f8f7fc !important;
}

/* banner */

.slider-fixed-height {
    height: 90vh;
    width: 100%;
}

@media only screen and (max-width: 991px) {
    .slider-fixed-height {
        height: auto;
        width: 100%;
        padding: 49px 0;
    }
}
/* ---- */

p {
    font-size: 15px;
    line-height: 28px;
}

.axil-testimonial .clint-info-wrapper .client-info span {
    color: #5138ce;
}
.axil-testimonial .description {
    margin-top: 26px;
}
.axil-testimonial .description p {
    /* margin-top: 38px; */
    text-align: left;
}

a.axil-button.btn-large,
button.axil-button.btn-large {
    background-color: #8137ee;
    color: #fff;
    transition: all 0.2s;
    padding: 12px 32px;
    height: auto;
    line-height: 24px;
}

a.axil-button.btn-large:hover,
button.axil-button.btn-large:hover {
    /* transform: translateY(-3px); */
    background-color: #692ae4;
}
a.axil-button.btn-large:active,
button.axil-button.btn-large:active {
    transform: translateY(-1px);
}
.axil-testimonial .inner::before {
    left: 0;
    bottom: -25px;
    background: rgba(0, 2, 72, 0.1);
    opacity: 0.5;
}

/* ------------- */

.footer-default .footer-widget-item ul.ft-menu li a {
    font-size: 15px;
}

.brand-list li a:hover {
    background: #fafafb;
    border-color: #eaeaf1;
}
.brand-list::before {
    background: #eaeaf1;
    height: 0.5px;
}

.brand-list li:nth-child(4n) a:hover {
    border-color: transparent;
}

.fixed-line-para {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .axil-testimonial .inner::after {
        height: 400px;
    }
}

/* -------about---------- */
.about-title,
.about-para {
    text-align: left !important;
}

.about-para {
    font-size: 17px !important;
    margin-bottom: 20px !important;
}

.about-para-last-child {
    margin-bottom: 40px !important;
}

.about-title {
    color: #061237 !important;
}

.about-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.btn-secondary {
    background-color: rgba(120, 57, 243, 0.08) !important;
    border: 2px solid rgba(120, 57, 243, 0.08) !important;
    box-shadow: 2px 2px 2px 0 rgba(114, 129, 167, 0.04) !important;
    color: #7839f3 !important;
}

.btn-secondary:hover {
    background-color: #692ae4 !important;
    color: #fff !important;
}
@media only screen and (max-width: 991px) {
    .about-768-pt {
        padding: 0px;
    }
}
/* -----------xx -- about------ */

/* ------------digital----------- */
.digital-art-sections {
    padding: 0px !important;
}
/* -----xx-------digital-----xx------ */

/* -----photography-------- */

.photography-card-title {
    font-size: 19px;
    margin-bottom: 2px !important;
}

/* --xx---photography---xx----- */

/* ------contact----- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .axil-address {
        padding: 50px 45px;
    }
}

@media only screen and (max-width: 767px) {
    .axil-address {
        padding: 30px 26px;
    }
}
/* ---x---contact----x- */

/* -----------index-video------- */
.embed-responsive-4by3::before {
    padding-top: 75.1%;
}
/* -------index-video--------- */